<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <table>
      <ng-container *ngFor="let row of userTable; let i = index">
        <tr *ngIf="i !=0">

          <td>
            {{row[0]}}
          </td>
          <td>
            <ng-container *ngIf="row[1] == 'Toronto Transit Commission'; else elseTemplate">
              TTC
            </ng-container>
            <ng-template #elseTemplate>
              {{row[1]}}
            </ng-template>
          </td>
          <td>
            {{row[2]}}
          </td>
          <td>
            {{row[3]}}
          </td>
          <td>
            {{row[4]}}
          </td>
          <td>
            {{row[5]}}
          </td>
          <td>
            {{row[6]}}
          </td>
          <td>
            {{row[7]}}
          </td>
        </tr>
      </ng-container>
    </table>
  </ion-card>
</ion-content>